#curDate {
    float: left;
}

.day {
    float: right;
    height: 15px;
    margin-top: -43px;
    width: 15px;
}

#minus {
    float: left;
}

table {
    border-collapse: collapse;
    width: 1500px;
    height: 800px;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
	width: 14%;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}