<!DOCTYPE HTML>
<html>

<head>
    <title>%START% - %END%</title>
    <link rel="stylesheet" href="/~user8/booker/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/~user8/booker/resources/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/~user8/booker/resources/css/style.css">
    <script src="/~user8/booker/resources/js/jquery-1.11.2.min.js"></script>
    <script src="/~user8/booker/resources/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
</head>

<body>
    <div class="row">
        <div class="col-xs-0 col-md-4 test">
		</div>
        <div class="col-xs-18 col-md-4">
			<p class="detailsHead"><b>B.B. DETAILS</b></p>
			<p class="detailsNames">When:
				<span class="detailsValues"> %START% </span>
				-
				<span class="detailsValues"> %END% </span>
			</p>
			<p class="detailsNames">Notes: <span class="detailsValues"> %NOTES% </span></p>
			<p class="detailsNames">Who: <span class="detailsValues"> %WHO% </span></p>
        </div>
        <div class="col-xs-0 col-md-4 test"></div>
    </div>
</body>

</html>
