<div class="dnk_leftMenu">
	<a class="btn btn-primary btn-lg btn-block" href="#">Book It !</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">First day: monday</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">First day: sunday</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">24 hour</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">AM/PM</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">Russian</a>
	<a class="btn btn-primary btn-lg btn-block" href="#">English</a>
	<a class="btn btn-primary btn-lg btn-block" href="/~user8/booker/login/closeSession">Exit</a>
</div>