/* background body fon */
body {
	background: linear-gradient(to top right, #4682B4 10%, #4169E1 30%, #1E90FF 50%, #6495ED 75%) fixed;
}
.loginForm {
	margin-top: 50px;
}
.navbar {
	padding: 15px 25px;
}
.dnk_leftMenu {
	background-color: white;
	border-radius: 15px;
	margin: 40% 15px;
	padding: 30px 30px;
}